<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="/" text="{{ 'General.back_button' | translate }}"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "Info.title" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h5>{{ "Info.titleInfotext" | translate }}</h5>
  <p>{{ "Info.infotext1" | translate }}</p>
  <p>{{ "Info.infotext2" | translate }}</p>
  <p>{{ "Info.infotext3" | translate }} <a href="https://geogami.uni-muenster.de">{{ "Info.website" | translate }}</a>!</p>

  <h5>{{ "Info.legal" | translate }}</h5>
  <ion-list lines="full">
    <ion-item routerLink="/imprint" detail>
      <ion-label>{{ "Info.imprint" | translate }}</ion-label>
    </ion-item>
    <ion-item routerLink="/privacy" detail>
      <ion-label>{{ "Info.privacy" | translate }}</ion-label>
    </ion-item>
  </ion-list>

  <!-- <h2 class="ion-text-center">
    Made with
    <span (click)="onDarkThemeChange()"
      ><span *ngIf="dark">❤️</span><span *ngIf="!dark">🖤</span></span
    >
    by <a href="https://reedu.de">re:edu</a>
  </h2> -->

  <h5>Animations</h5>
  <p>
    ⭐️ Star Success by Taras Chernenko / LottieFiles
    <br />
    👨‍🚀 Astronaut by PARIsa / LottieFiles
  </p>

  <h5>Icons</h5>
  <p>
    Flag obtained from
    <a href="https://fontawesome.com/license"
      >FontAwesome Pro License (CC BY 4.0)</a
    >
    with modifications in shape, color, and outline
  </p>

  <p>
    Smiles obtained from
    <a href="https://www.flaticon.com/free-icons/smile" title="smile icons">Smile icons created by tulpahn - Flaticon</a>
  </p>

  <h5>Screenshots template</h5>
  <p>
    Screenshots template obtained from
    <a href="https://previewed.app/template/CFA9A157"
      >previewed.app</a
    >
  </p>

  <h5>Sounds</h5>
  <p>
    Sound effects obtained from
    <a href="https://www.zapsplat.com">https://www.zapsplat.com</a>
  </p>
</ion-content>
