<ion-header>
  <ion-toolbar>
    <!-- Hide back button when handbook is embedded in an iframe on a third-party site -->
    <ion-buttons slot="start" *ngIf="!isEmbedded">
      <ion-back-button
        color="dark"
        defaultHref="start"
        text="{{ 'General.back_button' | translate }}"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "Handbook.title" | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-select
        interface="popover"
        [value]="languageService.selected"
        (ionChange)="onLanguageChange($event)"
        aria-label="Language"
      >
        <ion-select-option *ngFor="let lang of languages" [value]="lang.value">
          {{ lang.text }}
        </ion-select-option>
      </ion-select>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-padding">
    <ng-container *ngFor="let section of sections">
      <div>
        <h1>{{ section.titleKey | translate }}</h1>
        <ion-accordion-group>
          <ng-container
            *ngFor="
              let subsection of section.subsections;
              index as i;
              first as first;
              last as last
            "
          >
            <ion-accordion value="{{ subsection.headingKey }}">
              <ion-item
                lines="none"
                slot="header"
                style="border: 0.5px solid #757575"
                [ngStyle]="{ 'border-top': first ? '0.5px solid #757575' : 'none' }"
              >
                <ion-label>{{ subsection.headingKey | translate }}</ion-label>
              </ion-item>
              <div
                class="ion-padding"
                slot="content"
                class="section-content"
                [ngStyle]="{ 'border-bottom': last ? '0.5px solid' : 'none' }"
              >
                <ng-container *ngFor="let content of subsection.content">
                  <div>
                    <div class="images-side">
                      <div>
                        <ng-container
                          *ngFor="let image of content.images; index as i"
                        >
                          <div>
                            <img
                              src="{{ subsection.path }}/{{ image }}frame.jpeg"
                              alt=""
                            />
                          </div>
                        </ng-container>
                      </div>
                    </div>
                    <div class="text-side">
                      {{ content.textKey | translate }}
                    </div>
                  </div>
                </ng-container>
              </div>
            </ion-accordion>
          </ng-container>
        </ion-accordion-group>
      </div>
    </ng-container>
  </div>
</ion-content>
